/*--------------------------------------------------------
Layouts
---------------------------------------------------------*/

.centered {
    margin: 0 auto;
    padding: 0 1em;
}


/* 52*16 = 832px */

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}

body {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

img {
    display: block;
    border: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
}