body {
    background: hsl(0, 0%, 90%);
}

.pagehead {
    background: hsl(0, 0%, 20%);
}

.site-title {
    color: white;
}


/* Style for cards */

.card {
    background: white;
    margin-bottom: 2em;
}

.card {
    a {
        color: black;
        text-decoration: none;
        max-width: 99.99%;
        /* Workaround für IE. 100% funktionieren nicht! */
    }
}

.card:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.card-content {
    padding: 1.4em;
}

.card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: normal;
}

.card-content p {
    font-size: 95%;
}


/* Flexbox */

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 1em;
    }
    .card {
        flex: 0 1 calc(50% - .5em);
        /* 0 = flex grow, mit bezug auf den dritten wert "calc(33% - 1em)" ist kein wachsen erlaub */
        /* 1 = flex shrink, mit bezug auf den dritten wert "calc(33% - 1em)" ist schrumpfen erlaubt */
        flex-basis: calc(50% - 0.5em);
        /* IE 10 / IE 11 versteht flex shorthand nicht richtig daher flex-basis ausschreiben */
        margin-bottom: 1em;
        display: flex;
        /* hiermit werden die a zu flexitems und die stretchen vertikal und horizontal */
    }
}

@media screen and (min-width: 60em) {
    .cards {
        margin-top: inherit;
    }
    .card {
        flex: 0 1 calc(33% - .4em);
        flex-basis: calc(33% - 0.5em);
        /* IE 10 / IE 11 versteht flex shorthand nicht richtig daher flex-basis ausschreiben */
        margin-bottom: 2em;
        /* 0 = flex grow, mit bezug auf den dritten wert "calc(33% - 1em)" ist kein wachsen erlaub */
        /* 1 = flex shrink, mit bezug auf den dritten wert "calc(33% - 1em)" ist schrumpfen erlaubt */
    }
}