/* Dropdown + Social */


/* Debugging */


/*
.nav-mixed .multi-level-nav ul {
    background: darkred;
}

.nav-mixed .social-menu ul {
    background: darkorange;
}
*/

.nav-mixed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #333;
}