@media screen and(min-width: 30em) {
    .single-nav ul {
        display: flex;
        justify-content: space-between;
        /* flex-end, flex-start, center, space-around 
        space-between ist wie ein blocksatz. 
        space-between funktioniert nur, wenn flex grow der 
        items auf 0 gesetzt ist -> flex: 0 0 auto; */
        
        flex-wrap: wrap;

    }
    .single-nav li {
        flex: 1 0 auto;
        /* 1=grow, 0=shrink, auto=flex bases */
        text-align: center;
    }
}